.PAAlert {
    animation: fadeIn 1s;
    text-align: center;
    z-index: 1;
}

@keyframes fadeIn {
    0% {
        top: 25pt;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}