.signup {
    display: flex;
    flex-direction: column;
}

.signup-field {
    width: 40vw;
    padding: 7pt;
    /* Top and bottom margin */
    margin: 10px 0 10px 0;
}

.signup-form {
    padding: 10px;
    margin: 10pt;
}

.signup-submit {
    padding: 10px;
}

.signup-paper {
    padding: 15px;
}

/* Make sure password and show password button are on the same row */


@media (width < 668px) {
    .signup-field {
        width: 70vw;
    }
}
