.home {
    background-color: transparent;
    color: white;
}


img {
    object-fit: contain;
    display: flex;
    align-self: center;
}
.car {
    z-index: 1 !important;
}
h4 {
    z-index: 1 !important;
}
