.login {
    display: flex;
    flex-direction: column;
}

.login-field {
    width: 40vw;
    padding: 5pt;
    /* Top and bottom margin */
    margin: 10px 0 10px 0;
}

.loggedin-message {
    color: green;
}

@media (width < 668px) {
    .login-field {
        width: 70vw;
    }
}
