.App {
    margin-bottom: 10px;
    background-color: #4e4e4e;
}

.app-sub-component {
    margin-top: 60pt;
}

#tsparticles {
    height: 50vh;
}

@media screen and (max-width: 241px) {
    .app-sub-component {
        margin-top: 70pt;
    }
}
